@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --color-white: hsl(252, 30%, 100%); 
    --color-light: hsl(252, 30%, 95%); 
    --color-gray: hsl(252, 15%, 65%); 
    /*--color-primary: hsl(252, 75%, 60%); 
    --color-secondary: hsl(252, 100%, 90%); */
    --color-primary: hsl(197, 75%, 60%); 
    --color-secondary: hsl(197, 100%, 90%); 
    --color-success: hsl(120, 95%, 65%); 
    --color-danger: hsl(0, 95%, 65%); 
    --color-dark: hsl(252, 30%, 17%); 
    --color-black: hsl(252, 30%, 10%);     

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
    
    --background-blur: rgba(255, 255, 255, 0.336);
    --background-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
}
*,*
::before, 
*::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}

/*==========General Styles========*/

.container{
    width: 90%;
    margin: 0 auto;    
}
.account-photo{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}
img{
    display: block;
    width: 100%;
    cursor: pointer;
}
.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--card-border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}
.btn:hover{
    background: var(--color-primary);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.btn-primary
.btn-primary .active{
    text-decoration: none;
    font-weight: 500;
    color: black;
    padding: 8px 15px;
    border-radius: 25px;
}
.text-bold{
    font-weight:500;
}
.text-muted{
    color: var(--color-gray);
}
.product-list .card:hover{
    box-shadow: 0px 4px 15px 0px var(--color-gray);
    border-radius: 0.2rem;
    transition: all 700ms ease;
}
.product-list .card img:hover{
    box-shadow: 0px 15px 17px -14px var(--color-gray);
    border-radius: 0.2rem;
    transition: all 500ms ease;
}
.card .title:hover{
    color: var(--color-primary);
}
/*=========================NAVBAR======================= */

nav{
    width: 100%;
    background: var(--background-blur);
    box-shadow: var(--background-box-shadow);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);

}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .search-bar{    
    border-radius: var(--card-border-radius);
    padding: var(--search-padding);
    background: rgba(255, 255, 255, 0.575);;
    box-shadow: var(--background-box-shadow);
    backdrop-filter: blur(5px);
}
nav .search-bar input[type="search"]{
    background: transparent;
    width: 50rem;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-primary);
}
nav .search-bar input[type="search"]::placeholder{
    color:var(--color-gray);
}
/*=======================MAIN=======================*/
main {
    position: relative;
    top: 5.4rem;
}
main .container{
    display: grid;
    grid-template-columns: 13vw auto;
    column-gap: 0rem;
    position: relative;
}

/*=======================LEFT NAVBAR=======================*/

main .container .left {
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);
}
main .left .profile .menu-item:hover{
    background: var(--color-light);
}
main .container i .notification-count{
    background: var(--color-danger);
    color: white;
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: -0.2rem;
    right: 0rem;
}
.left .sidebar{
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}
.left .sidebar .menu-item{
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    translate: all 300ms ease;
    position: relative;
}
.left .sidebar .menu-item:hover{
    background: var(--color-light);
}
.left .sidebar i {
    font-size: 1.4rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
}
.left .sidebar i .notification-count{
    background: var(--color-danger);
    color: white;
    font-size: .8rem;
    width: fit-content;
    border-radius: 0.8rem;
    padding: 0.1rem 0.4rem;
    position: relative;
    top: -1rem;
    right: -10.2rem;
}
.left .sidebar h3{
    margin-left: 1.5rem;
    font-size: 1rem;
}
.left .sidebar .active{
    background: var(--color-secondary);
}
.left .sidebar .active i, .left .sidebar .active h3{
    color: var(--color-primary);
}
.left .sidebar .active::before{
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);    
}
.left .sidebar .menu-item:first-child.active{
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}
.left .sidebar .menu-item:last-child.active{
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}
.left .btn{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

/*============================PRODUCT POPUP===============================*/

.left .product-popup{
    position: absolute;
    text-align: center;
    top: 0;
    left: 105%;
    width: 8rem;
    padding: var(--card-padding);
    z-index: 8;
    background: var(--background-blur);
    box-shadow: var(--background-box-shadow);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    display: none;
}
.left .product-popup::before{
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: var(--background-blur);
    box-shadow: var(--background-box-shadow);
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
}
.left .product-popup > div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

/*=============================MIDDLE FEED====================================*/
.homepage-container{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 500px;
    display: grid;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}
.featured-container{
    display: flex;
    padding: var(--card-padding);
    position: relative;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.product-list{
    padding: 2em;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}
.product-list .section-header{
    padding-bottom: 1.5rem;
}
.product-list .card{
    border-radius: var(--card-border-radius);
    padding: 0em;
    box-shadow: 0px 1px 15px 0px var(--color-light);
    text-align: center;
}
.card .title{
    font-size: 18px;
    font-weight: bold;
    text-align: top left;
} 
.card img{
    max-width: 100%;
    border-radius: var(--card-border-radius);
    
}
.card .text{
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    text-align: left;
    margin-left: 1em;
    margin-bottom: 0em;
}
.button{
    background-color: var(--color-primary);
    font-size: 1rem;
    text-align: right;
    border: none;
    padding: 1rem;
    border-radius: var(--card-border-radius);
    font-weight: bold;
}
.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.main .featured-container{
    display: grid;
    grid-template-columns: 13vw auto 7vw;
    column-gap: 2rem;
    position: relative;
}

/*------------------------------------------Product Page-----------------------------------------------------------------------------------*/
.product-page-container{
    width: 75vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 15px;
    box-sizing: border-box;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
}
/*.product-page-container div{
    border: 1px solid #000000;
}*/
.header{
    grid-column-start: 1;
    grid-column-end: 6;
}
.content-large{
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;

    border-radius: var(--card-border-radius);
    box-shadow: 10px 15px 17px -20px var(--color-gray);
    
}
.content-large img{
    max-width: 100%;
    border-radius: var(--card-border-radius);
}
.content-small{
    grid-column-start: 3;
    grid-column-end: 6;

    border-radius: var(--card-border-radius);
    box-shadow: 0px 0px 25px -20px var(--color-black);
    
}
.container .text{
    padding-top: 1rem;
    padding-left: 1rem;
}
.footer{
    grid-column: 1/ span 5;
    
}
    

















































/*MAY POSSIBLY NEED LATER DO NOT DELETE*/

/*
main .container .left .cart{
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    column-gap: 1rem;
    width: 100%;
}
.image-grid{
    --gap: 16px;
    --num-cols: 4;
    --row-height:300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}
.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.middle .feeds .feed{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;    
}
.middle .feed .head {
    display: flex;
    justify-content: space-between;    
}
.middle .feed .action-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}
.middle .liked-by{
    display: flex;1
}
.middle .liked-by span{
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--color-white);
    margin-left: -0.6rem;
}
.middle .liked-by span:first-child{
    margin: 0;

}
.middle .liked-by p{
    margin-top: 0.1rem;
    margin-left: 0.5rem;
} */